body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: rgb(0, 0, 0);
  font-size: 120%;
}

.description {
  text-transform: capitalize;
}

.card {
  color: white;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  padding: 5%;
  margin: 1em;
  background: #222;
  text-align: left;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info{
  padding:5% ;
}

input.search-bar {
  border: none;
  padding: 0.4em 1em;
  outline: none;
  width: max-content;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  display: flex;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  display: flex;
}


.loading{
  text-align: center
}
